div{
    background-color: antiquewhite;
    border-radius: 3%;
}

.container {
    display: flex; /* Use flexbox to arrange items */
    background-color: black;
    align-items: center; /* Center items vertically */
}

.container img {
    max-width: 100%; 
    margin-right: 10px; 
}



/* table _ ის ელემენტები */
.tabletitle{
    color: yellow;
}
.tomato{
    color:red
}
.leaves{
    color: green;
}




nav ul {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: flex-end;
}

nav li {
    margin-right: 60px; 
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;

}

form{
    background-color: greenyellow;
    color: red;
    display: flex;
}


