/* body{
    background-color: rgb(50, 21, 154);
    background-image: url("/day 1/htlm/photos/user-sign-icon-person-symbol-human-avatar-isolated-on-white-backogrund-vector.jpg");
}
p{
    color:red;
    background-color:grey;
}

b{
    color: blueviolet;
}

.gamarjoba{
    color: aqua;
} */